body {
  background-color: black;
  color: white;
}
.ember-application #ember-talk {
  padding: 50px;
}
#ember-talk .slidehtml {
  border: 1px solid white;
  text-align: center;
  padding: 1em;
  margin: 0px 5px;
  margin-top: 5px;
}
#ember-talk #mainslide {
  margin-bottom: 2em;
  display: block;
  clear: both;
}
#ember-talk .slide-item {
  display: inline-block;
  width: 256px;
  height: 128px;
  zoom: 0.5;
  font-size: 6px;
}
